<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="nav">
      <h1>Discovery Dashboard</h1>
      <div class="nav__links">
        <a href="/bitmonx/admin/register">Admin Registration</a>
        <a href="/bitmonx/admin">Account Update</a>
        <button id="logout-btn">Logout</button>
      </div>
    </div>

    <div class="header">
      <div class="system-details">
        <div class="summary-bar">
          <div class="summary-bar__total__services">
            <h2>
              <span id="total_services"><%= services.length %></span> Services
            </h2>
          </div>

          <div class="summary-bar__total__instances">
            <h2>
              <span id="total_instances"><%= instances_count %></span> Instances
            </h2>
          </div>
        </div>

        <div class="system-properties">
          <h3>System Properties</h3>
          <table>
            <tr>
              <td class="left-td">System Name</td>
              <td><span><%= system_data.info.name %></span></td>
            </tr>
            <tr>
              <td class="left-td">System Version</td>
              <td><span><%= system_data.info.version %></span></td>
            </tr>
            <tr>
              <td class="left-td">System Description</td>
              <td><span><%= system_data.info.description %></span></td>
            </tr>
            <tr>
              <td class="left-td">System Authority</td>
              <td><span><%= system_data.info.author %></span></td>
            </tr>
            <tr>
              <td class="left-td">System License</td>
              <td><span><%= system_data.info.license %></span></td>
            </tr>
            <tr>
              <td class="left-td">System IP Address</td>
              <td><span><%= system_data.server.ipaddress %></span></td>
            </tr>
            <tr>
              <td class="left-td">System Port</td>
              <td><span><%= system_data.server.port %></span></td>
            </tr>
            <tr>
              <td class="left-td">Load Balancer</td>
              <td><span class="pop"><%= system_data.loadbalancer %></span></td>
            </tr>
            <tr>
              <td class="left-td">Rate Limitting</td>
              <td><span class="pop"><%= system_data.ratelimiting %></span></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="chart" id="response-time-card">
        <div class="chart-header">
          <h3>Average Response Time</h3>
          <h1 id="avg-response-time"><span>ms</span></h1>
        </div>
        <canvas id="response-time-chart" width="450" height="150"></canvas>
      </div>

      <div class="chart" id="total-requests-card">
        <div class="chart-header">
          <h3>Total Requests</h3>
          <h1 id="total-requests"></h1>
        </div>
        <canvas id="total-requets-chart" width="450" height="250"></canvas>
        <div class="chart-footer">
          <p>Error Rate</p>
          <p id="error-rate">45.2%</p>
        </div>
      </div>

      <div class="chart" id="data-in-card">
        <div class="chart-header">
          <h3>Data In</h3>
          <h1 id="data-in"></h1>
        </div>
        <canvas id="data-in-chart" width="450" height="250"></canvas>
      </div>

      <div class="chart" id="data-out-card">
        <div class="chart-header">
          <h3>Data Out</h3>
          <h1 id="data-out"></h1>
        </div>
        <canvas id="data-out-chart" width="450" height="250"></canvas>
      </div>
    </div>

    <div class="service-container">
      <h1>Registered Services</h1>

      <% if (services.length === 0) { %>
      <div class="no-services">
        <h3>No Services Found</h3>
        <p>There are no services running on this system.</p>
      </div>
      <% } %>

      <div class="service-grid">
        <% for (let service of services) { %>
        <div class="service-card" id="service-<%= service.id %>">
          <div class="service-card__title__bar">
            <h2><%= service.name %></h2>
            <span><%= service.protocol %></span>
          </div>
          <p class="service-card__id">Service ID: <%= service.id %></p>
          <p>
            <span class="service-card__ic"
              ><%= service.numberOfInstances() %> Instance</span
            >

            <span class="service-card__uc"
              ><%= service.numberOfInstances() %> UP</span
            >
          </p>
          <p class="service-card__mapping"><%= service.mapping %></p>
        </div>
        <% } %>
      </div>
    </div>

    <div class="node-container">
      <h1>Registered Nodes</h1>

      <% if (services.length === 0) { %>
      <div class="no-instances">
        <h3>No Nodes Found</h3>
        <p>There are no nodes running on this system.</p>
      </div>
      <% } %>

      <div class="container">
        <div class="nodes-grid">
          <% services.forEach(service => { %> <%
          service.instances.forEach(instance => { %>
          <div class="node" id="node-<%= service.id %>-<%= instance.id %>">
            <div class="node__title__bar">
              <h2>Node <%= instance.service_id %>.<%= instance.id %></h2>
              <span class="node-status"><%= instance.status %></span>
            </div>
            <p><%= service.name %> Service</p>
            <table>
              <tr>
                <td class="left-td">IP Address</td>
                <td><span><%= instance.ip_address %></span></td>
              </tr>
              <tr>
                <td class="left-td">Port</td>
                <td><span><%= instance.port %></span></td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="left-td">CPU Usage</td>
                <td><span class="cpu"></span></td>
              </tr>
              <tr>
                <td class="left-td">Memory Usage</td>
                <td><span class="mem"></span></td>
              </tr>
              <tr>
                <td class="left-td">Up Time</td>
                <td><span class="uptime"></span></td>
              </tr>
            </table>
          </div>
          <% }); %> <% }); %>
        </div>

        <div class="chart" id="instance-cpu-resource-card">
          <div class="chart-header">
            <h3>CPU Usage</h3>
            <h2 id="cpu-usage"></h2>
          </div>
          <h1 id="total-instances"></h1>
          <canvas id="instances-cpu-chart" width="400" height="200"></canvas>
        </div>

        <div class="chart" id="instance-mem-resource-card">
          <div class="chart-header">
            <h3>Memory Usage</h3>
            <h2 id="mem-usage"></h2>
          </div>
          <h1 id="total-instances"></h1>
          <canvas id="instances-mem-chart" width="400" height="200"></canvas>
        </div>
      </div>
    </div>

    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/main.js"></script>

    <script>
      const logoutBtn = document.getElementById('logout-btn');
      logoutBtn.addEventListener('click', async () => {
        const response = await fetch('/bitmonx/logout', {
          method: 'POST',
        });

        if (response.ok) {
          window.location.href = '/bitmonx/login';
        }
      });
    </script>
  </body>
</html>
